.homeDesign {
    height: 80vh;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(244, 241, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postDetailHome {
    color: black;
    background-color: #ededed;
    height: 1.4;
    width: 2.6em;
    background-color: rgb(238, 27, 27);
    cursor: pointer;
    transition: 0.2s;
}

.postDetailHome:hover {
    background-color: rgba(238, 27, 27, 0.687);
    cursor: pointer;
    transition: 0.2s;
}

.postCardHome {
    width: 28vw;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    margin: 1vh;
    padding: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.15);
    align-items: center;
}

.cardHeaderHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
    font-weight: bold;
}


.titleHome {
    display: flex;
    justify-content: flex-start;
    font-size: 2vh;
    font-weight: bold;
    width: auto;
}


.cardBodyHome {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    font-weight: bold;
}

.descriptionHome {
    color: #333;
    font-weight: bold;
}

.likesHome {
    color: red;
}


.likeUnLikeHome {
    border-radius: 8px;
    background-color: red;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.likeUnLikeHome:hover {
    background-color: rgb(161, 2, 2);
    cursor: pointer;
    transition: 0.2s;

}
.createPost{
background-color: rgb(180, 180, 208);
cursor: pointer;
transition: 0.2;
}

.createPost:hover{
    background-color: rgba(180, 180, 208, 0.62);
    cursor: pointer;
    transition: 0.2s;
}