.detailDesign {
    height: 80vh;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(244, 241, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postCardDetail {
    width: 28vw;
    height: 40vh;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    margin: 1vh;
    padding: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.15);
    align-items: center;

}

.cardHeaderDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
    color: black;
}

.titleDetail {
    font-size: 2vh;
    font-weight: bold;
    color: black;
}

.cardBodyDetail {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    font-weight: bold;
}

.descriptionDetail {
    color: #333;
    /* font-weight: bold; */
}

.likesDetail {
    color: #999;
}

.likeUnLikeDetail{
background-color: rgb(221, 19, 19);
width: 5em;
}