.footerDesign {
    height: 8vh;
    width: 100vw;
    background-image: url('../../img/footerRRSS.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .footerDesign img{


} */