.footerDesign {
    height: 8vh;
    width: 100vw;

    background-color: rgb(38, 70, 83);
    color: rgb(233, 196, 106); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}