.adminDesign {
    height: 80vh;
    width: 100vw;
    overflow: auto;
    background-color: rgb(244, 241, 222);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.userCardAdmin {
    width: 28vw;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    margin: 1vh;
    padding: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.15);
    align-items: center;
}

.cardHeaderAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
    color: black;
}

.usernameAdmin {
    font-size: 2vh;
    font-weight: bold;
}

.actionsAdmin {
    display: flex;
    gap: 1vh;
}

.cardBodyAdmin {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    font-weight: bold;
}


.del,
.edit {
    padding: 0.5vh 1vh;
    border: none;
    border-radius: 0.5vh;
    color: #fff;
    background-color: rgb(38, 70, 83);
    cursor: pointer;
}

.del:hover,
.edit:hover {
    background-color: rgb(42, 157, 143);
}

.totalUsersAdmin, .totalPostsAdmin {
    margin-top: 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: black;
}

.postCardAdmin {
    width: 28vw;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    margin: 1vh;
    padding: 1vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.15);
    align-items: center;
}
.postDetailAdmin {
    width: 28vw;
    border: 0.1vh solid #ccc;
    border-radius: 0.5vh;
    background-color: #9a8f8f;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.15);
    align-items: center;
    color:black

}

.cardHeaderAdmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vh;
}

.titleAdmin {
    font-size: 2vh;
    font-weight: bold;
    color: black;
}

.actionsAdmin {
    display: flex;
    gap: 1vh;
}

.cardBodyAdmin {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    color: black
}

.descriptionAdmin {
    color: #333;
}

.likesAdmin {
    color: #999;
}

.likeUnLikeAdmin{
background-color: rgb(221, 19, 19);
width: 5em;
}